<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styleedit.css">

    <title>Edit <%= portfolio.name %></title>
  </head>
  <body>
    <div id="login">
    <%- include('../partials/_navbar.ejs') %>
    </div>

    <h1>Edit your Portfolio</h1>

    <form action="/portfolios/<%= portfolio._id %>?_method=PUT" method="POST">
    <label for="artist-name">Name of Artist:</label>
    <input type="text" name="artistName" id="artist-name" value="<%= portfolio.artistName %>" />
    <br>
    <br>

    <label for="biography">Biography:</label>
    <textarea type="" name="biography" id="biography" value="<%= portfolio.biography %>"></textarea>
    <br>
    <br>

    <label for="portfolio">Portfolio:</label>
    <input type="text" name="portfolio" id="portfolio" />
    <label for="link"> (links, media etc.):</label>
    <input type="url" name="link" id="link" value="<%= portfolio.link %>"/>
    <br>
    <br>

    <button type="submit">Submit Profile</button>
  </form>
  </body>
</html>
